{% extends "base.html" %}

{% block content %}
   <body>
   {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
   <div class="row justify-content-center">
    <form class="form-search" action="/staffHome" method="post">
        <br/>
        <p>First Name:<label for="cust_first_name" class="sr-only">Username</label>
        <input type="name" name="cust_first_name" id="cust_first_name" class="form-control" required></p>

        <p>Last Name:<label for="cust_last_name" class="sr-only">Firstname</label>
        <input type="name" name="cust_last_name" id="cust_last_name" class="form-control"  required></p>
        <div id="operations">
            <input type="submit" value="Search" />
        </div>
        <br>

    </form>
    </div>
   <p> Customers information: </p>
     <table class="table table-customers-information">
      <tr>
        <th>customer_id</th>
        <th>customer_username</th>
        <th>customer_firstname</th>
          <th>customer_lastname</th>
        <th>Info</th>
          <th>Operation</th>
        </tr>

        {% for info in user_info %}
        <tr>
          <td>{{info[0]}}</td>
          <td>{{info[1]}}</td>

          <td>{{info[2]}}</td>
            <td>{{info[3]}}</td>
          <td><a class="action" href="/checkRequest_staff?id={{info[0]}}">Requests</a></td>
            <td><a class="action" href="/deleteUser?id={{info[0]}}">Delete</a></td>

        </tr>
        {% endfor %}
    </table>
   <p> Current user information: </p>
    <table class="table table-employee-information">
      <tr>
        <th>my_id</th>
        <th>my_username</th>
        <th>my_firstname</th>
          <th>my_lastname</th>
          <th>change information</th>
        </tr>

        <tr>
            {% for info in personal_info[0] %}
                <td>{{info}}</td>
            {% endfor %}
            <td><a class="action" href="/changeInfo_staff">change</a></td>
        </tr>
    </table>
   <p> Customer history information: </p>
    <table class="table table-delete-information">
      <tr>
        <th>history id</th>
        <th>username</th>
        <th>firstname</th>
          <th>lastname</th>
          <th>delete date</th>
          <th>delete by</th>
        </tr>
        {% for i in range(0, delete_info|length) %}
            <tr>
                {% for j in range(0, delete_info[i]|length - 1) %}
                    <td>{{delete_info[i][j]}}</td>
                {% endfor %}
                 <td>{{delete_name[i]}}</td>
            </tr>
        {% endfor %}

    </table>
   <p> Main functions: </p>
    <table class="table table-employee-information">
      <tr>
          <td>Manage</td>
        <td> <a href="/manageBook">manage books</a> </td>
        <td><a href="/manageEvent">manage events</a></td>
          <td><a href="/newSecurityQuestion">manage security questions</a></td>
          <td></td>
        </tr>
        <tr>
        <td>Account setting</td>
        <td><a href="/changePassword_staff">change password</a></td>
        <td><a href="/logout_staff">log out</a></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
        <td>Analysis</td>
        <td><a href="/analysis_1">frequently borrowed books</a></td>
        <td><a href="/analysis_2">active users</a></td>
            <td><a href="/analysis_3">income</a></td>
        <td><a href="/analysis_4">events</a></td>
        </tr>

    </table>
<!--   <p> You can <a href="/manageBook">manage books</a> from here. </p>-->
<!--   <p> You can <a href="/manageEvent">manage events</a> from here. </p>-->
<!--   <p> You can <a href="/changePassword_staff">change password</a> from here. </p>-->
<!--   <p> You can <a href="/newSecurityQuestion">add security questions</a> from here. </p>-->
<!--   <p> You can <a href="/analysis_1">check top frequently borrowed books</a> from here. </p>-->
<!--   <p> You can <a href="/analysis_2">check top active users</a> from here. </p>-->
<!--   <p> You can <a href="/analysis_3">check library income</a> from here. </p>-->
<!--   <p> You can <a href="/analysis_4">check number of events</a> from here. </p>-->
<!--   <p> You can <a href="/logout_staff">log out</a> from here. </p>-->



   </body>

{% endblock %}
