{% extends "base.html" %}

{% block content %}
   <body>
      <table class="table table-user-information">
         {% for key, value in user_info.items() %}
            <tr>
               <td>
                   <strong>
                       <span class="glyphicon glyphicon-asterisk text-primary"></span>
                       {{ key }}
                   </strong>
               </td>
               <td class="text-primary">
                   {{ value }}
               </td>
            </tr>
         {% endfor %}
      </table>
   <p> You can <a href="/logout">log out</a> from here. </p>
   </body>

{% endblock %}
