{% extends "base.html" %}

{% block content %}
   <body>
      <p> Personal Information </p>
      <table class="table table-user-information">
         {% for key, value in user_info.items() %}
            <tr>
               <td>
                   <strong>
                       <span class="glyphicon glyphicon-asterisk text-primary"></span>
                       {{ key }}
                   </strong>
               </td>
               <td class="text-primary">
                   {{ value }}
               </td>
            </tr>
         {% endfor %}
      </table>

      <p> Requests </p>
      <table class="table">
          <thead>
          <tr>
         {% for col in req_cols %}
              <th scope="col">{{col}}</th>
          {% endfor %}
           </tr>
          </thead>
          <tbody>
          {% for i in range(requests|length) %}
            <tr>
                <th scope="row">{{requests[i][0]}}</th>
            {% for j in range(1, req_cols|length) %}
                {% if j == 3 %}
                    {% if requests[i][3] == 'Y' %}
                        <td> Issued </td>
                    {% elif requests[i][3] == 'W' %}
                        <td> Waiting </td>
                    {% else %}
                        <td> Finished </td>
                    {% endif %}
                {% elif j == 6 %}
                    {% if requests[i][3] == 'Y' %}
                        {% if requests[i][6] <= 0 %}
                            <td> Yes </td>
                        {% else %}
                            <td> No </td>
                        {% endif %}
                    {% else %}
                        <td> </td>
                    {% endif %}
                {% elif j == 7 %}
                    <td><a href="/showReceipt?request_id={{requests[i][0]}}">Show</a></td>
                {% elif j == 8 %}
                    {% if requests[i][3] == 'W' %}
                        <td><a href="/cusRequest?_bookStoId={{requests[i][2]}}">Request</a> or <a href="/confirmation?type=refuse&request_id={{requests[i][0]}}&book={{requests[i][1]}}">Refuse</a></td>
                    {% endif %}
                    {% if requests[i][3] == 'Y' %}
                        <td><a href="/confirmation?type=return&request_id={{requests[i][0]}}&overdue={{requests[i][6]}}">Return</a></td>
                    {% endif %}
                {% else %}
                    <td>{{requests[i][j]}}</td>
                {% endif %}
            {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
      </table>

      <p> Reservations </p>
      <table class="table">
          <thead>
          <tr>
         {% for col in res_cols %}
              <th scope="col">{{col}}</th>
          {% endfor %}
           </tr>
          </thead>
          <tbody>
          {% for i in range(reservations|length) %}
            <tr>
                <th scope="row">{{reservations[i][0]}}</th>
            {% for j in range(1, res_cols|length) %}
                <td>{{reservations[i][j]}}</td>
            {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
      </table>

   <p> You can <a href="/logout">log out</a> from here. </p>
   </body>

{% endblock %}
