{% extends "base.html" %}
{% block page_title %}  {% endblock %}

{% block content %}

<body class="text-center">
  <div class="row">
    <div class="col-sm-4">
      <h3>Quick Links</h3>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">Borrow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Printers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Helps</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>Today's Events</h2>
      <div class="fakeimg">Fake Image</div>
      <p>Some text..</p>
      <p> </p>
      <br>
      <h2>Today's Arrivals</h2>
      <div class="fakeimg">Fake Image</div>
      <p>Some text..</p>
      <p></p>
    </div>
  </div>

</body>

{% endblock %}
