{% extends "base.html" %}

{% block content %}
    <body class="text-center">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <div class="row justify-content-center">
        <form class="form-signin" style="width: 50%;" action="/signIn" method="post">
            <p>Welcome back.</p>

            <br>
            <p>Username:<label for="inputUsername" class="sr-only">Username</label>
            <input type="text" name="inputUsername" id="inputUsername" class="form-control" placeholder="Username" required></p>

            <p>Password:<label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required></p>
            <br>

            <button id="btnSignIn" class="btn btn-lg btn-primary mx-auto btn-block" type="button">Sign In</button>
            <p><div id="result"></div></p>
            <br>
            <p class="mx-auto">or <a href="/signUp">sign up</a> for your account.</p>
            <br>
        </form>
    </div>
    <p> <a href="/enterUsername">Forget</a> your password? </p>
    </body>


{% endblock %}
