{% extends "base.html" %}
{% block page_title %}  {% endblock %}

{% block content %}

<body class="text-center">
<h2>Waiting List for Book Storage {{bookSto_id}}</h2>

<table class="table">
    <thead>
    <tr>
   {% for col in cols %}
        <th scope="col">{{col}}</th>
    {% endfor %}
     </tr>
    </thead>
    <tbody>
    {% for i in range(waiting_list|length) %}
      <tr>
          <th scope="row">{{i}}</th>
      {% for j in range(waiting_list[0]|length) %}
        <td>{{waiting_list[i][j]}}</td>
      {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
</table>

</body>
{% endblock %}